{% extends 'base.html.twig' %}
{% set age = 20 %}

{% block body %}
    <a href="{{ path('app_contact_us') }}">Contact</a>
    <h2>Mini calculatrice</h2>
    <form action="{{ path('app_result') }}">
        <input type="text" name="nombre-a" />
        <input type="text" name="signe" />
        <input type="text" name="nombre-b" />
        <input type="submit" />
    </form>
{% endblock %}